<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<span><button type="button" class = "greybutton"><i class="fa fa-bars" style="background_color: grey"></i>search</button></span>
			</li>
			<li id="search-modal-btn">
				<span><button type="button" class = "greybutton"><i class="fa fa-search" style="background_color: grey"></i>search</button></span>
			</li>
		</ul>
	</nav>


  <nav class="right-nav">
	  <form id="test">
	  	<button type="button">subscribe now</button>
	  	<button type="button">log in</button>
	  </form>
  	 <ul>
			<li id="cog">
				<button type="button" class="greybutton" id="gear"><i class="fas fa-cog"></i> </button>
  		</li>
		 </ul>
  </nav>


</header>
